.theme-diagram .diagram-dark {
    display: none;
}

html.coal .theme-diagram .diagram-light,
html.navy .theme-diagram .diagram-light,
html.ayu .theme-diagram .diagram-light {
    display: none;
}

html.coal .theme-diagram .diagram-dark,
html.navy .theme-diagram .diagram-dark,
html.ayu .theme-diagram .diagram-dark {
    display: block;
}

html.coal .theme-diagram img.diagram-dark,
html.navy .theme-diagram img.diagram-dark,
html.ayu .theme-diagram img.diagram-dark {
    display: inline;
}

html.coal .theme-diagram img.diagram-light,
html.navy .theme-diagram img.diagram-light,
html.ayu .theme-diagram img.diagram-light {
    display: none;
}
